<h3 style="color:blue;">{{ titulo }}</h3>

<h3>Selector de Colores</h3>
  <input type="text" [(ngModel)]="color_seleccionado"/>
  <br>
  <button (click)="logColorSeleccionado()">Mostrar log</button>
  <pre [style.border] = "color_seleccionado == 'red' ? '5px solid black' : '1px solid green'"
      [ngClass] = "{
        fondoAzul : color_seleccionado == 'blue',
        fondoVerde: color_seleccionado == 'green',
        letraGrande: 1 == 1
      }"
  >

    <strong>Color elegido:</strong>
    {{color_seleccionado}}
    </pre>
  <div [ngStyle]="{
    'background':color_seleccionado,
    'width':'200px',
    'height':'200px',
    'float': 'right',
    'margin-right': '45%'
  }">
  </div>
<div style="clear:both"></div>
<hr/>
<b>Empleado estrella:</b>
<br>
<br>

<div *ngIf="trabajador_externo == true">
<button (click)="cambiarExterno(false)">Motsrar Trabajador</button>
  <ul >
    <li>{{empleado.nombre}}</li>
    <li>{{empleado.edad}}</li>
    <li>{{empleado.cargo}}</li>
    <li *ngIf="empleado.contratado == true">Esta contratado</li>
    <li *ngIf="empleado.contratado == false">No contratado</li>
  </ul>
</div>
<div *ngIf="trabajador_externo == false">
  <button (click)="cambiarExterno(true)">Motsrar Empleado</button>
  <table >
    <thead>
      <tr>
        <td>Nombre</td>
        <td>Edad</td>
        <td>Cargo</td>
        <td>contratado</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{trabajadores[0].nombre}}</td>
          <td>{{trabajadores[0].edad}}</td>
          <td>{{trabajadores[0].cargo}}</td>
          <td *ngIf="trabajadores[0].contratado == true ">Esta contratado</td>
          <td *ngIf="trabajadores[0].contratado == false ">No contratado</td>
          </tr>
        </tbody>
    </table>
</div>
<hr>
<h3>Listado de Empleados</h3>
<ul>
  <li *ngFor="let empleado of trabajadores; let i = index">
    <strong>Empleado {{i+1}}</strong>
    <ul>
      <li>{{empleado.nombre}}</li>
      <li>{{empleado.edad}}</li>
      <li>{{empleado.cargo}}</li>
      <li *ngIf="empleado.contratado == true ">Esta contratado</li>
      <li *ngIf="empleado.contratado == false ">No contratado</li>
    </ul>
  </li>

</ul>

<hr/>

<h3>Colores Switch</h3>
<ul [ngSwitch]="micolor">
    <li *ngSwitchCase="'red'" [ngStyle]="{'background':micolor, 'color': 'white', 'padding':'20px'}">Es de color Rojo</li>
    <li *ngSwitchCase="'green'" [ngStyle]="{'background':micolor, 'color': 'white', 'padding':'20px'}">Es de color Verde</li>
    <li *ngSwitchCase="'blue'" [ngStyle]="{'background':micolor, 'color': 'white', 'padding':'20px'}">Es de color Azul</li>
</ul>
